Repository sheng1998/The-Modelled-Wechat: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run stylelint

chore: 配置文件的小改动(改动前后效果一直)
  .husky/pre-commit
Due: none

fix: less改为scss
  package.json
Due: none

style: 样式文件 stylelint:fix
  src/assets/css/global.scss
  src/views/login/common.scss
Due: npm run stylelint

docs: 编写文档，增加部分脚本的说明
  README.md
Due: none

fix: 文件sha1和sha256获取失败
  src/utils/get_file_hash.ts
Due: npm run eslint

feat: getFileHash函数支持只传字符串为第二个参数
  src/utils/get_file_hash.ts
Due: npm run eslint

feat: 获取hash值时支持获取当前进度
  src/utils/get_file_hash.ts
Due: npm run eslint

feat: 异步并发限制自定义函数封装
  src/utils/async_limit.ts
Due: npm run eslint

style: 添加点注释
  src/utils/get_file_hash.ts
Due: npm run eslint

feat: 完善获取文件hash值的自定义函数
  src/utils/get_file_hash.ts
Due: npm run eslint

feat: 默认限制次数
  src/utils/async_limit.ts
Due: npm run eslint

feat: 文件分片上传相关逻辑实现
  src/views/home/chat_model.vue
  src/views/home/use/use_file.ts
Due: npm run eslint, npm run stylelint

update ebaf13ec41f9930a5c05851378eeec62d3ab7507
  assets/css/index-b423ced8.css
  assets/css/index-c0a19d93.css
  assets/css/index-d39ca10b.css
  assets/css/index-fc596931.css
  assets/js/index-23311a5c.js
  assets/js/index-29be8334.js
  assets/js/index-39f2fc83.js
  assets/js/index-49d6002d.js
  assets/js/index-b54c21e6.js
  assets/js/index-legacy-1f92f597.js
  assets/js/index-legacy-2328854b.js
  assets/js/index-legacy-2673df92.js
  assets/js/index-legacy-61ce5931.js
  assets/js/index-legacy-ab8844d5.js
  assets/js/index-legacy-d771754a.js
  index.html
Due: none

Path conditions:
  npm run eslint: any of: src/**/*.{js,ts,tsx,vue}
  npm run stylelint: any of: src/**/*.{vue,css,scss}
